.test-react-block{
    margin: 5px 0;
    padding: 0 15px;
    border: solid 1px #dde2e6;
    /* text-align: center; */
    background-color: #fcf7f1;
    border-radius: 10px;
}
.st-btn-100{
    display: block;
    width: 175px;
    color: #321C0D;
    margin: 24px 0 0 0;
    padding: 14px 0;
    transition: 0.6s;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.btn_active{
    background-color: #321C0D!important;
    color: #fff;
}
.bg_200{
    background-color: #CAB1A6;
}

.question-box {
    flex-wrap: wrap;
}

.question-box{
    flex-wrap: wrap;
}
.question-item-box{
    position: relative;
    margin: 10px 0 10px 0;
    width: 49%;
}
.question-item{
    width: 100%;
    z-index: 4;
    height: 56px;
    position: relative;
    border: 1px solid #E5DCD4;
    box-sizing: border-box;
    background-color: #ffff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(99, 57, 27, 0.15);
}
.question-edge{
    width: 10px;
    float: left;
    height: 100%;
    background: #96614E;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.question-info{
    float: left;
    width: 67%;
    padding: 4px 25px;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    /*padding: 15px 25px;*/
}
.question-span{
    display: inline-block;
    /* height: 46px; */
    line-height: normal;
    vertical-align: middle;
}
.question-icon{
    float: right;
    padding: 0 15px 0 0;
    height: 100%;
    text-align: center;
}
.question-chevron-bg{
    padding: 6px;
    margin: 9px 7px 0 0;
    border-radius: 50px;
    background-color: #E5DCD4;
}
.question-chevron{
    transition: 0.8s;
    display: block;
    color: #96614E;
}
.question-chevron-active{
    transform:rotate(-180deg);

}
.question-drop{
    display: none;
    z-index: 3;
    margin: -8px 0 0 0;
    padding: 15px 15px;
    background-color: #E5DCD4;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.question-drop:hover {
    display: block;
    box-shadow: 0px 2px 2px rgba(99, 57, 27, 0.05), 0px 4px 4px rgba(99, 57, 27, 0.05), 0px 8px 8px rgba(99, 57, 27, 0.05), 0px 16px 16px rgba(99, 57, 27, 0.05), 0px 32px 32px rgba(99, 57, 27, 0.05), 0px 64px 64px rgba(99, 57, 27, 0.05), inset 0px 12px 6px rgba(123, 57, 10, 0.15);
}